.slide-viewer {
    margin-bottom: 35px;
}

.slide-viewer-controls {
    display: block;
    position: relative;
    height: 20px;
}

.slide-viewer-controls a.up {
    display: block;
    left: 50%;
    margin-left: -8px;
    position: absolute;
    background: url(images/up.png);
    width: 16px;
    height: 16px;
}

.slide-viewer-controls a:hover.up {
    background: url(images/up-hover.png);
}

.slide-viewer-controls a.down {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 180px;
    background: url(images/down.png);
    width: 16px;
    height: 16px;
}

.slide-viewer-controls a:hover.down {
    background: url(images/down-hover.png);
}

.slide-viewer-stage {
    overflow: hidden;
    height: 157px;
}

.slide-viewer-stage ul {
    position: relative;
    top: 0px;
}
