
/* Defaults */
html {
    background: none;
}

body {
    background: #444f51;
    font: normal 12px 'Source Sans Pro', 'Arial', 'Helvetica', sans-serif;
    color: #555555;
}

a {
    color: #d81e05;
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    border-top: 1px solid #333;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 0px;
}

p {
    line-height: 160%;
}


/* Headings */
h1 {
    font: 400 36px 'Source Sans Pro', 'Arial', 'Helvetica', sans-serif;
    color: #d81e05;
    margin-top: 0;
    margin-bottom: 20px;
}

h2 {
    font: 600 20px 'Source Sans Pro', 'Arial', 'Helvetica', sans-serif;
    color: #333333;
    margin-top: 0;
    margin-bottom: 20px;
}

h3 {
    font: 600 16px 'Source Sans Pro', 'Arial', 'Helvetica', sans-serif;
    color: #333333;
    margin-top: 0;
}

h4 {
    font: 600 14px 'Source Sans Pro', 'Arial', 'Helvetica', sans-serif;
    color: #333333;
    margin-top: 0;
    margin-bottom: 10px;
}


/* Structure */

div#wrap {
    width: auto;
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px 0 0 0;
    -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    background: #fff;
}


/* Clearfix */

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
    zoom: 1;
}


/* Header */
header#header {
    min-height: 115px;
    margin: 0;
}

header#header hgroup {
    height: 115px;
    margin: 0;
    background: #fff;
}


/* Styles for header headings */

header#header hgroup h1 {
    margin: 8px 0 0 0;
    float: right;
}

header#header hgroup h2 {
    margin: 0;
    float: left;
    font-size: 15px;
    color: #555555;
    font-weight: 400;
    letter-spacing: 0.025em;
}

header#header hgroup h2 br {
    display: none;
}

header#header hgroup h2 a {
    color: #555555;
}

header#header hgroup h2 span {
    color: #d81e05;
}

/* generic class for reuse in footer */

a.download-catalogues {
    margin-top: 65px;
    padding: 5px 10px;
    border: 1px solid #e2e4e4;
    position: relative;
    display: block;
    width: 200px;
    color: #555555;
    font-size: 14px;
    letter-spacing: -0.03em;
    background: #fff;
}

a.download-catalogues img {
    position: absolute;
    right: 8px;
    top: 5px;
}

a.download-catalogues:hover,
a.download-catalogues:focus {
    text-decoration: none;
}

/* make search class common for footer */

ul li.search {
    float: right;
    background: #fff;
    border: 1px solid #e2e4e4;
    padding: 5px 10px;
    margin: 2px 0 0 0;
    width: 205px;
    min-height: 18px;
}

ul li.search input {
    border: none;
    outline: none;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

ul li.search input[type="text"] {
    width: 185px;
}

ul li.search input[type="submit"] {
    background: url('icons/search.png') no-repeat;
    width: 16px;
    height: 17px;
    margin-left: 0;
}

ul li.search input[type="text"]:hover,
ul li.search input[type="text"]:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
}


/* Main navigation */

nav#main-nav {
    margin-top: 22px;
    padding: 0;
    background: #f6f7f7;
    border: 1px solid #e8e9e9;
    position: relative;
}

nav#main-nav ul {
    margin: 0;
}

nav#main-nav ul li {
    list-style: none;
    float: left;
    margin: 0 25px 0 0;
}

nav#main-nav ul li:first-child {
    margin-left: 0px;
}

nav#main-nav ul li.search {
    float: right;
    padding: 5px 10px;
    margin: 15px 0 0 0;
}

nav#main-nav ul li a {
    display: block;
    text-decoration: none;
    padding: 20px 0 15px 0;
    color: #5a5a5a;
    border-bottom: 5px solid transparent;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.015em;
}

nav#main-nav ul li a:hover,
nav#main-nav ul li a.selected {
    border-bottom: 5px solid #d81e05;
}

/* dropdowns */

nav#main-nav ul li ul {
    display: none;
    position: absolute;
    z-index: 200;
    width: auto;
    background: white;
    -webkit-box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
    box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
    padding: 15px 0px;
    border-top: 1px solid #e8e9e9;;
}

nav#main-nav ul li:hover ul {
    display: block;
}

nav#main-nav ul li ul li {
    margin: 5px 0;
    float: none;
}

nav#main-nav ul li ul li a {
    display: block;
    text-decoration: none;
    padding: 0px 15px;
    color: #5a5a5a;
    font-size: 14px;
    text-align: left;
    font-weight: 400;
    letter-spacing: 0.015em;
    border-bottom: none;
}

nav#main-nav ul li ul li a:hover,
nav#main-nav ul li ul li a.selected {
    border-bottom: none;
    color: #d81e05;
}

/* product dropdown */

nav#main-nav ul li.product-dropdown ul {
    padding: 0;
    margin: 0;
    left: -1px;
}

nav#main-nav ul li.product-dropdown ul li {
    float: left;
    padding: 25px 30px;
    border-right: 1px solid #e8e9e9;
    max-width: 138px;
}

nav#main-nav ul li.product-dropdown ul li a {
    padding: 0;
}

nav#main-nav ul li.product-dropdown ul li h3 {
    margin: 5px 0 0 0;
}

nav#main-nav ul li.product-dropdown ul li h3 a {
    font-weight: bold;
    font-size: 16px;
}

nav#main-nav ul li.product-dropdown ul li p {
    margin: 5px 0;
}

nav#main-nav ul li.product-dropdown ul li a.category-nav-image {
    opacity: 0.85;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

nav#main-nav ul li.product-dropdown ul li a.category-nav-image:hover,
nav#main-nav ul li.product-dropdown ul li a.category-nav-image:focus {
    opacity: 1;
}


/* Breadcrumb Block */

/* little style tweak for the carousel fade thing on the homepage... */

div#carousel li.cycle-slide img {
    width: 100%;
    height: auto;
}

section#breadcrumbs {
    margin-bottom: 25px;
}

section#breadcrumbs h4 {
    float: left;
    font-weight: 400;
    font-size: 12px;
    margin-top: 15px;
    text-transform: lowercase; /* in mockups all breadcrumbs appear in lowercase */
}

section#breadcrumbs h4 a {
    color: #555555;
}

section#breadcrumbs h4.share {
    float: right;
    margin-top: 15px;
}

section#breadcrumbs h4.share a {
    color: #555555;
    margin-right: 20px;
}

section#breadcrumbs h4.share a:last-of-type {
    margin-right: 0;
}

section#breadcrumbs h4.share a img {
    position: relative;
    top: 3px;
    margin-right: 5px;
}



/* Content */

section#content {
    float: left;
    width: 68.5%;
    background: #fff;
}

section#content,
header#header hgroup,
nav#main-nav ul,
section#breadcrumbs {
    padding: 0 4.85%;
}

aside#sub-nav {
    padding-left: 4.85%;
}

/* Sidebar */

aside#sub-nav {
    float: left;
    width: 16.65%;
    background: #fff;
}

aside#sub-nav h3 {
    margin-top: 5px;
    margin-bottom: 0;
    padding-left: 17px;
}

aside#sub-nav nav ul {
    padding-left: 0;
    margin: 8px 0;
}

aside#sub-nav nav ul li {
    list-style: none outside none;
    border-bottom: 1px solid #e8e9e9;
}

/* The first item in the subnav should have a top border */

aside#sub-nav nav ul li:first-of-type {
    border-top: 1px solid #e8e9e9;
}

aside#sub-nav nav ul li a {
    display: block;
    padding: 5px 0 6px 13px;
    border-left: 5px solid transparent;
    font-weight: 400;
    font-size: 14px;
    color: #555555;

    -webkit-transition: border 0.3s ease, background 0.3s ease;
    -moz-transition: border 0.3s ease, background 0.3s ease;
    transition: border 0.3s ease, background 0.3s ease;
}

aside#sub-nav nav ul li span.set-title {
    display: block;
    padding: 5px 0 6px 13px;
    border-left: 5px solid transparent;
    font-weight: 400;
    font-size: 14px;
    color: #555555;
}

/* All links on hover and  when selected change background and border, any ul
 * adjacent to a selected anchor should also adopt these styles. */

aside#sub-nav nav ul li a:hover,
aside#sub-nav nav ul li a.selected {
    background: #f6f7f7;
    border-left: 5px solid #d81e05;
    text-decoration: none;
}

aside#sub-nav nav ul li a.selected + ul li a {
    border-left: 5px solid #f6f7f7;
    background: #f6f7f7;
    text-decoration: none;
}
/* Inner nav styles */

aside#sub-nav nav ul li ul {
    margin: 0;
}

aside#sub-nav nav ul li ul li {
    border-top: 0;
    border-bottom: 0;
}

/* Inner nav anchord have a different background on hover, focus and selected */

aside#sub-nav nav ul li a.selected + ul li a:hover,
aside#sub-nav nav ul li a.selected + ul li a:focus {
    background: #e8eaea;
    border-left: 5px solid #d81e05;
    text-decoration: none;
}

/* Remove the border from the first li in a nested ul */

aside#sub-nav nav ul li a.selected + ul li:first-of-type {
    border-top: 0;
}

/* When the sub-category is selected, reduce padding and increase font-weight */

aside#sub-nav nav ul li a.selected.dropdown-heading {
    padding: 2px 0 2px 13px;
    font-weight: bold;
}

aside#sub-nav nav ul li ul li a {
    padding: 2px 0 2px 13px;
}

ul.page-images {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    float: right;
    margin-left: 50px;
}

ul.page-images li  {
    margin: 20px 0px 0px 0px;
}

ul.page-images li img {
    display: block;
    border: 1px solid #e8e9e9;
}

section.page-text {
    width: 70%;
}

/* Footer */
footer {
    height: 200px;
    margin: 50px 0 0 0;
    padding: 32px 50px;
    clear: both;
    background: url('images/footer-background.png') #f6f7f7 no-repeat;
    border: 1px solid #e8e9e9;
    text-align: left;
}

div.fivecol {
    float: left;
}

div.fivecol.first {
    width: 20%;
    margin-right: 2.75%;
}

div.fivecol.second {
    width: 13.5%;
    margin-right: 3.75%;
}

div.fivecol.third {
    width: 12.4%;
    margin-right: 1.1%;
}

div.fivecol.fourth {
    width: 14%;
}

div.fivecol.fifth {
    width: 32.5%;
}

div.fivecol h3 {
    margin-bottom: 0;
}

div.fivecol ul {
    margin-top: 0;
    padding-left: 0;
    list-style: none outside none;
}

div.fivecol ul li {
    margin: 0;
    font-size: 13px;
    line-height: 137%;
}

div.fivecol h3 a {
    color: #333333;
}

div.fivecol a {
    color: #555555;
}

div.fivecol:nth-of-type(5) ul {
    float: right;
}

footer li.search {
    float: none;
}

footer a.download-catalogues {
    width: auto;
    margin-top: 15px;
}


/* Product List */

.object-list {
    padding-left: 0;
    list-style: none outside none;
    margin-bottom: 28px;
}

.object-list li {
    width: 31%;
    margin: 0 3% 3% 0;
    float: left;
    border: 1px solid #e2e4e4;
    overflow: hidden;
}

.object-list li.empty {
    border: none;
    width: auto;
    float: none;
    font-style: italic;
    font-weight: bold;
}

.object-list li:hover a,
.object-list li:focus a {
    -webkit-transition: border 0.3s ease, background 0.3s ease;
    -moz-transition: border 0.3s ease, background 0.3s ease;
    transition: border 0.3s ease, background 0.3s ease;
}

.object-list li a {
    display: block;
    opacity: 0.9;
    border-bottom: 3px solid transparent;
    min-height: 305px;
}

.object-list li:hover a {
    background: #f5f6f6;
    color: #606060;
    border-bottom: 3px solid #d81e05;
    text-decoration: none;
}

.object-list li a h4 {
    padding: 0 15px;
    margin: 5px 0 10px 0;
}

.object-list li a p {
    padding: 0 15px;
    margin: 0 0 25px 0;
    color: #606060;
    line-height: 130%;
}

.object-list li:nth-of-type(3n+3) {
    margin-right: 0;
}


/* File download form */

div.downloads ul {
    list-style: none outside none;
    padding-left: 0;
}

div.downloads ul li {
    border-bottom: 1px solid #eeeeee;
    padding: 8px 0;
}

div.downloads ul li:first-of-type {
    border-top: 1px solid #eeeeee;
}

div.downloads ul li span.extension {
    text-transform: uppercase;
    font-weight: bold;
    color: #eeeeee;
    display: inline-block;
    padding: 3px;
    background: #4b4c4d;
    width: 15%;
    text-align: center;
    margin-right: 10px;
    position: relative;
    -webkit-text-shadow: 0px 0px 2px #000;
    -moz-text-shadow: 0px 0px 2px #000;
    text-shadow: 0px 0px 2px #000;
}

div.downloads ul li span.extension:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top: 5px solid white;
    border-left: 5px solid #4b4c4d;
}

div.downloads ul li span.selector {
    float: right;
    margin-top: 4px;
}

div.downloads ul li input[type="checkbox"] {
    display: none;
}

div.downloads ul li input[type="checkbox"] + label {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background: #fff;
    border: 2px solid white;
    -webkit-box-shadow: 0 0 0 1px #585859;
    -moz-box-shadow: 0 0 0 1px #585859;
    box-shadow: 0 0 0 1px #585859;
    margin: 0;
    min-width: 0;
}

div.downloads ul li input[type="checkbox"]:checked + label {
    background: #b61b2b;
}

div.downloads ul li input[type="checkbox"] + label:hover,
div.downloads ul li input[type="checkbox"] + label:focus {
    cursor: pointer;
}

div.downloads ul li:last-of-type {
    border-top: 0;
    border-bottom: 0;
    margin-top: 25px;
}

div.downloads ul li input[type="submit"] {
    background: url('../common/icons/down-arrow.png') no-repeat right center;
    padding: 12px 0;
    border-top: 1px solid #575759;
    border-bottom: 1px solid #575759;
    border-left: 0;
    border-right: 0;
    outline: none;
    width: 100%;
    font-weight: bold;
    text-align: left;
    color: #525354;
    border-radius: 0;
}

div.downloads ul li input[type="submit"]:hover,
div.downloads ul li input[type="submit"]:focus {
    color: #b61b2b;
    background: url('../common/icons/down-arrow-hover.png') no-repeat right center;
}


/* Related products/projects */

aside#related {
    float: left;
    margin-top: 35px;
    margin-left: 6.5%;
    width: 23.5%;
    padding: 10px 5px;
    background: #f6f7f7;
    border: 1px solid #e8e9e9;
}

aside#related h3 {
    text-align: center;
}

aside#related ul {
    padding-left: 0;
    margin: 0;
    list-style: none outside none;
}

aside#related ul li {
    border: 1px solid #e8e9e9;
    margin-bottom: 5px;
}

aside#related ul li a.related {
    display: block;
    background: #fff;
    color: #555555;
    border-bottom: 4px solid transparent;
    height: 147px;

    -webkit-transition: border 0.3s ease;
    -moz-transition: border 0.3s ease;
    transition: border 0.3s ease;
}

aside#related ul li a.related p {
    padding: 0 10px;
    margin: 0;
}

aside#related ul li a.related img {
    width: 100%;
    height: auto;
}

aside#related ul li a.related:hover,
aside#related ul li a.related:focus {
    border-bottom: 4px solid #d81e05;
    text-decoration: none;
}


/*********************************************************************
 * Popups! For videos and for forms
 ********************************************************************/

.hidden {
    display: none;
}

.popup {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('images/popup-fallback.png'); /* for browsers that don't support rgba */
    background: rgba(0,0,0,0.6); /* for browsers that support rgba, but not gradients */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0.4));
    background: -moz-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0.4));
    background: linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0.4));
}

.popup-inner {
    margin: 50px auto 0 auto;
    background: white;
    width: 700px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.95);
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.95);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.95);
    position: relative;
}

a.popup-close {
    position: absolute;
    top: 15px;
    right: 15px;

    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

a.popup-close:hover,
a.popup-close:focus {
    opacity: 0.8;
}

